.App {
    box-sizing: border-box;
    --header_height: 60px;
    width: 1280px;
    min-height: 720px;
    margin: 0 auto;
    margin-top: 250px;
    background: white;
    position: relative;
    z-index: 1;
}

.hw {
    min-height: 330px;
    margin-top: 10px;
    padding: 30px 70px;
    border: 1px solid #D9D9D9;
}

.hwTitle {
    padding: 50px 0 0 70px;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
}